<mat-grid-list cols="10" rowHeight="2:1">
  <mat-grid-tile colspan="1" rowspan="1">

    <img src="./assets/ergo-hestia-logo.png">

  </mat-grid-tile>

  <mat-grid-tile colspan="9" rowspan="9">

      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" mat-align-tabs="center">
        <mat-tab label="First">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
      </mat-tab-group>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="9">2</mat-grid-tile>

<!--  <mat-grid-tile colspan="9" rowspan="9">-->
<!--    <div class="backimage">-->

<!--    </div>-->
<!--  </mat-grid-tile>-->

</mat-grid-list>
